In [1]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('basic').getOrCreate()

In [9]:
df = spark.read.csv('/home/shrinath/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/appl_stock.csv',
                    inferSchema= True, header=True)

In [10]:
df.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [11]:
df.show()

+--------------------+------------------+------------------+------------------+------------------+---------+------------------+
|                Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+--------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:...|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:...|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:...|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:...|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:...|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:...|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:...|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:...|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:...|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:...|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:...|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:...|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:...|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:...|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:...|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:...|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:...|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:...|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:...|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:...|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+--------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [12]:
df.head(5)

[Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039),
 Row(Date=datetime.datetime(2010, 1, 5, 0, 0), Open=214.599998, High=215.589994, Low=213.249994, Close=214.379993, Volume=150476200, Adj Close=27.774976000000002),
 Row(Date=datetime.datetime(2010, 1, 6, 0, 0), Open=214.379993, High=215.23, Low=210.750004, Close=210.969995, Volume=138040000, Adj Close=27.333178000000004),
 Row(Date=datetime.datetime(2010, 1, 7, 0, 0), Open=211.75, High=212.000006, Low=209.050005, Close=210.58, Volume=119282800, Adj Close=27.28265),
 Row(Date=datetime.datetime(2010, 1, 8, 0, 0), Open=210.299994, High=212.000006, Low=209.06000500000002, Close=211.98000499999998, Volume=111902700, Adj Close=27.464034)]

In [13]:
df.head(5)[0]

Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)

# Spark dataframe are built on top of Spark SQL So we can filter using SQL

In [15]:
df.filter("Close < 100").show()

+--------------------+-----------------+---------+---------+-----------------+---------+-----------------+
|                Date|             Open|     High|      Low|            Close|   Volume|        Adj Close|
+--------------------+-----------------+---------+---------+-----------------+---------+-----------------+
|2014-06-09 00:00:...|        92.699997|93.879997|    91.75|        93.699997| 75415000|        88.906324|
|2014-06-10 00:00:...|        94.730003|95.050003|    93.57|            94.25| 62777000|        89.428189|
|2014-06-11 00:00:...|        94.129997|94.760002|93.470001|        93.860001| 45681000|        89.058142|
|2014-06-12 00:00:...|        94.040001|94.120003|91.900002|        92.290001| 54749000|        87.568463|
|2014-06-13 00:00:...|        92.199997|92.440002|90.879997|        91.279999| 54525000|        86.610132|
|2014-06-16 00:00:...|        91.510002|    92.75|91.449997|        92.199997| 35561000|        87.483064|
|2014-06-17 00:00:...|        92.309998|92.699997|91.800003|92.08000200000001| 29726000|87.36920699999999|
|2014-06-18 00:00:...|        92.269997|92.290001|91.349998|            92.18| 33514000|         87.46409|
|2014-06-19 00:00:...|        92.290001|92.300003|91.339996|        91.860001| 35528000|        87.160461|
|2014-06-20 00:00:...|        91.849998|92.550003|90.900002|        90.910004|100898000|        86.259066|
|2014-06-23 00:00:...|            91.32|91.620003|90.599998|90.83000200000001| 43694000|        86.183157|
|2014-06-24 00:00:...|            90.75|91.739998|90.190002|        90.279999| 39036000|        85.661292|
|2014-06-25 00:00:...|        90.209999|90.699997|89.650002|        90.360001| 36869000|        85.737201|
|2014-06-26 00:00:...|        90.370003|91.050003|89.800003|        90.900002| 32629000|        86.249576|
|2014-06-27 00:00:...|            90.82|     92.0|90.769997|        91.980003| 64029000|        87.274325|
|2014-06-30 00:00:...|        92.099998|93.730003|92.089996|            92.93| 49482300|         88.17572|
|2014-07-01 00:00:...|        93.519997|    94.07|93.129997|        93.519997| 38223000|88.73553199999999|
|2014-07-02 00:00:...|        93.870003|94.059998|93.089996|        93.480003| 28465000|        88.697585|
|2014-07-03 00:00:...|93.66999799999999|94.099998|93.199997|        94.029999| 22891800|        89.219443|
|2014-07-07 00:00:...|        94.139999|95.989998|94.099998|        95.970001| 56468000|        91.060195|
+--------------------+-----------------+---------+---------+-----------------+---------+-----------------+
only showing top 20 rows

In [17]:
df.filter("Close < 100").select (['Date','Open']).show()

+--------------------+-----------------+
|                Date|             Open|
+--------------------+-----------------+
|2014-06-09 00:00:...|        92.699997|
|2014-06-10 00:00:...|        94.730003|
|2014-06-11 00:00:...|        94.129997|
|2014-06-12 00:00:...|        94.040001|
|2014-06-13 00:00:...|        92.199997|
|2014-06-16 00:00:...|        91.510002|
|2014-06-17 00:00:...|        92.309998|
|2014-06-18 00:00:...|        92.269997|
|2014-06-19 00:00:...|        92.290001|
|2014-06-20 00:00:...|        91.849998|
|2014-06-23 00:00:...|            91.32|
|2014-06-24 00:00:...|            90.75|
|2014-06-25 00:00:...|        90.209999|
|2014-06-26 00:00:...|        90.370003|
|2014-06-27 00:00:...|            90.82|
|2014-06-30 00:00:...|        92.099998|
|2014-07-01 00:00:...|        93.519997|
|2014-07-02 00:00:...|        93.870003|
|2014-07-03 00:00:...|93.66999799999999|
|2014-07-07 00:00:...|        94.139999|
+--------------------+-----------------+
only showing top 20 rows

In [25]:
df.filter((df['Close'] < 200) & (df['Open'] >198)).show()

+--------------------+------------------+----------+----------+----------+---------+------------------+
|                Date|              Open|      High|       Low|     Close|   Volume|         Adj Close|
+--------------------+------------------+----------+----------+----------+---------+------------------+
|2010-01-22 00:00:...|206.78000600000001|207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-28 00:00:...|        204.930004|205.500004|198.699995|199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:...|        201.079996|202.199995|190.250002|192.060003|311488100|         24.883208|
|2010-02-23 00:00:...|        199.999998|201.330002|195.709993|197.059998|143773700|         25.531005|
+--------------------+------------------+----------+----------+----------+---------+------------------+

In [29]:
df.filter(df['Low']==197.16).show()

+--------------------+------------------+----------+------+------+---------+---------+
|                Date|              Open|      High|   Low| Close|   Volume|Adj Close|
+--------------------+------------------+----------+------+------+---------+---------+
|2010-01-22 00:00:...|206.78000600000001|207.499996|197.16|197.75|220441900|25.620401|
+--------------------+------------------+----------+------+------+---------+---------+

In [32]:
rslt = df.filter(df['Low'] == 197.16).collect()

In [36]:
rslt[0].asDict()

{'Adj Close': 25.620401,
 'Close': 197.75,
 'Date': datetime.datetime(2010, 1, 22, 0, 0),
 'High': 207.499996,
 'Low': 197.16,
 'Open': 206.78000600000001,
 'Volume': 220441900}

In [37]:
rslt[0].asDict()["Date"]

datetime.datetime(2010, 1, 22, 0, 0)