In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Basic').getOrCreate()

In [7]:
df = spark.read.json('/home/shrinath/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json')

In [8]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

# To check the schema of the data

In [9]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [11]:
df.columns

['age', 'name']

# Statistical summary of the column

In [13]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

# Defining schema by declaring types of the column

In [16]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

# Create list for structure field

In [17]:
data_schema = [StructField('age', IntegerType(),True),
               StructField('name',StringType(), True)]

In [19]:
final_struc = StructType(fields= data_schema)

In [20]:
df = spark.read.json('/home/shrinath/Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json',
                     schema =final_struc)

In [22]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

# So far we learned how to changed the datatype of schema.

#

In [23]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [25]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [27]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [28]:
type(df.head(2))

list

In [29]:
type(df.head(2)[0])

pyspark.sql.types.Row

# creating new column

In [32]:
df.withColumn('new_age',df['age']+10).show()

+----+-------+-------+
| age|   name|new_age|
+----+-------+-------+
|null|Michael|   null|
|  30|   Andy|     40|
|  19| Justin|     29|
+----+-------+-------+

In [33]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [36]:
df.withColumnRenamed('age','new_age').show()

+-------+-------+
|new_age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [35]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
df.createOrReplaceTempView('people')

In [40]:
results = spark.sql("SELECT * FROM people")

In [41]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [45]:
new_results= spark.sql("SELECT * FROM people WHERE age = 19")

In [46]:
new_results.show()

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+

# In this way we can use SQL using spark